*{

    margin: 0;
    padding: 0;

}
.nav-link {

    font-family: 'poppins',sans-serif;
    font-size: 16px !important;
    color: #000000 !important;


}
.icon{

    gap: 20px;
    display: flex;
   
}
.btnmdi-alert{

    border: none;
    background-color: transparent;

}
.seaction{

    background-image: url('../images/Group\ 78\ \(4\).png');
    width: 1440px;
    height: 320px;

}
.seaction-2{

    width: 1440px;
    height: 2050px; 
   

}
.col{

    width: 820px !important;
    height: 2250px;
    flex: none !important;
    margin-top: 30px !important;
    display: block;
    margin: 30px;

}
.card{

    width: 805px !important;
    height: 740px !important;
    margin: -2px;
    margin-top: 10px;

}
.rectangle{

    width: 801px;
    height: 500px;

}
.Group{

    width: 350px;
    height: 25px;

}
h1{

   font-family: 'poppins',sans-serif;
   font-size: 30px;

}
p{

    width: 820px;
    height: 115px;
    color: #9f9f9f;
    
}
.col-2{

    width: 395px !important;
    height: 540px;
    margin-top: 30px !important;
    
}
.frame{

    margin-top: 50px;

}
.site-footer{

    margin-top: 50px !important;

}
.te-footer{

    margin-top: 50px;
}
.footer-links{

    list-style: none;

}
.footer-links a{

    text-align: start;
    text-decoration: none;
    color: #000000  ;
}
.footer-content p{
    width: auto;
}
.footer-links{
    padding: 0;
    

}
.footer-p{

    margin: 115px;
    display: block;
    margin-top: 30px;

}
@media(max-width:375px){

    .seaction{

        width: 375px;

    }
    .seaction-2{

        width: 375px;

    }
    .row{

        flex-direction: column;

    }
    .col{

        width: 375px !important;
        margin: 3px;


    }
    .card{

        width: 375px !important;
        justify-content: center !important;
           
    }
    .rectangle{

        width: 375px;

    }
    .frame{

        width: 375px;
        
    }
}